.categoria-titulo {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
  border-bottom: 2px solid  rgb(170, 120, 62);
  padding-bottom: 0.5rem;
}

.categoria-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}



.producto img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}

.producto h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.producto ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0;
}
.categoria-card {
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #f1e0ce;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  overflow: hidden;
}

.categoria-header {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #f1e0ce;
  padding: 0.8rem;
  border-radius: 10px;
}

.categoria-header:hover {
  background-color: rgb(170, 120, 62);
}

.categoria-card.abierta .categoria-header {
  background-color: #f1e0ce;
}

.categoria-contenido {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
}


.producto {
  width: 160px;
  background: white;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-size: 0.9rem;
  transition: transform 0.2s;
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.producto:hover {
  transform: scale(1.03);
}

.oculto {
  display: none;
}

