.categoria-titulo {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
  border-bottom: 2px solid  rgb(170, 120, 62);
  padding-bottom: 0.5rem;
}

.categoria-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.producto {
  width: 220px;
  text-align: center;
}

.producto img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
}

.producto h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.producto ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0;
}
